.header {
    background-color: #024668;
}

.footer-top {
    background-color: #4D4D4D
}

.footer-bottom {
    background-color: #333333;
}

.tag-yellow {
    background-color: #c49f47;
}

.text-blue {
    color: #024668;
}

#title-article {
    color: #024668;
}

#date-article {
    color: #024668;
    border: 1px solid #024668;
    
}